<header>
    <div class="logo">BB Shop</div>
    <div class="header-links">
        <a href="/mypage" class="mypage-button">마이 페이지</a>
        <a href="/login" class="login-button">로그인</a>
    </div>
</header>