.mypage-container {
    display: flex;
    padding: 40px;
    gap: 40px;
    margin-bottom: 300px;
}

.mypage-sidebar {
    width: 180px;
    background-color: #74aaff;
    padding: 20px 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.mypage-sidebar a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding-left: 10px;
}

.mypage-content {
    flex: 1;
}

.mypage-content h2 {
    font-size: 20px;
    margin-bottom: 16px;
}

.mypage-box {
    border: 1px solid #74aaff;
    padding: 20px;
    font-size: 16px;
    margin-bottom: 20px;
}

.mypage-links {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.address-register {
    margin-top: 8px;
}

.mypage-info{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 22px;
}

.mypage-update{
    font-size: 18px;
}

.address-register{
    font-size: 18px;
}

.user-secession{
    font-size: 18px;
    background: #3967FF;
    color: white;
    padding: 8px;
    padding-left: 21px;
    padding-right: 21px;
    border-radius: 10px;
    border: none;
    outline: none;
}

a {
    text-decoration: none;
    color: black;
}